.title{
  text-align: center;
}

.diagramRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;
  width: 100%;
}

.AppButton {
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}
