.nodecontainer{
  position: relative;
  width: 100%;
  height: 35%;
}


.NodeJsButton{
  position: relative;
  line-height: 22px;
  width: 100%;
  height: 100%;
}

.NodeLabel{
  pointer-events: none;
  position: absolute;
  left: 80%;
  top: 5%;
}

.AppButton1 {
  position: absolute;
  left: 35%;
  top: 5%;
  width: 30%;
  height: 40%;
}

.NodeRow2Col1 {
  position: absolute;
  left: 5%;
  top: 50%;
  width: 40%;
  height: 45%;
}

.NodeRow2Col2 {
  position: absolute;
  left: 55%;
  top: 50%;
  width: 40%;
  height: 45%;
}


.ExpressServerButton {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  border: solid;
  border-width: thin;
  border-color: grey;
}

.AppButton2 {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 60%;
}
