.Row3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 10%;
}

.BundleGroup{
  position: relative;
  width: 40%;
  height: 100%;
}

.ClientJS{
  text-align: center;
  width: 100%;
  height: 50%;
  border: none;
}

.ServerJS {
  text-align: center;
  width: 100%;
  height: 50%;
  border: none;
}
